{% extends "base.html" %}


{% block content %}
	<!-- start banner Area -->
		{% include "home/include/top_nav.html" %}
	<!-- End banner Area -->

	<!-- start features Area -->
	{% include "home/include/sidebar_characteristic.html" %}
	<!-- end features Area -->

	<!-- Start category Area -->
		{% include 'home/include/tags/product_tag.html' %}
	<!-- End category Area -->

	<!-- start product Area -->
		{% include 'home/include/sidebar_aministration.html' %}
	<!-- end product Area -->

	<!-- Start exclusive deal Area -->
		{% include 'home/include/tags/product_slider_tag.html.html' %}
	<!-- End exclusive deal Area -->

	<!-- Start brand Area -->
		{% include "home/include/sidebar_brand.html" %}
	<!-- End brand Area -->

	<!-- Start related-product Area -->
		{% include 'shop/include/tags/week_product_tag.html' %}
	<!-- End related-product Area -->
{% endblock content %}