{% load mptt_tags shop_tag %}


<ul class="main-categories">
    {% get_list_categories as list_category %}
    {% recursetree list_category %}
        <li class="main-nav-list">
            <a data-toggle="collapse" href="#" aria-expanded="false" aria-controls=""><span
                class="lnr lnr-arrow-right"></span>{{ node.name }}<span class="number">{{ node.category_count}}
            {% if not node.is_leaf_node %}
                <ul class="collapse" data-toggle="collapse" aria-expanded="false" aria-controls="">
                        <li class="main-nav-list child"><a href="#"> {{ children }}<span class="number">{{ node.category_count}}</span></a></li>
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>


