<div class="common-filter">
    <div class="head">Brands</div>
    <form action="{% url 'filter_products' %}" method='get'>
        <ul>
            {% for brand in view.get_brand %}
                <li class="filter-list">
                    


                    <input class="pixel-radio" type="radio"  name="brand" value="{{ brand.id }}">


                    <label for="apple">{{ brand.name }}<span>({{ brand.brand_count }})</span></label>
                </li>
            {% endfor %}
        </ul>
    
</div>
<div class="common-filter">
    <div class="head">Color</div>
        <ul>
            {% for color in view.get_color %}
                <li class="filter-list">
                    <input class="pixel-radio" type="radio"  name="color" value="{{ color.id }}">
                    <label for="black">{{ color.name }}<span>({{ color.color_count }})</span></label></li>
            {% endfor %}
        </ul>
        <button type='submit'>Найти</button>
    </form>
</div>

