{% extends "base.html" %}

{% block content %}

	<!-- Start Banner Area -->
		{% include 'gallery/include/top_nav.html' %}
	<!-- End Banner Area -->
	<!-- Start Sample Area -->
		<section class="sample-text-area">
			<div class="container">
				{% for text in view.get_life %}
				<h3 class="text-heading">{{ text.title }}</h3>
				<p class="sample-text">
					{{ text.text }}
				</p>
				{% endfor %}
			</div>
		</section>
	<!-- End Sample Area -->

	<!-- Start Button -->
		{% include 'gallery/include/navigation.html' %}
	<!-- End Button -->

	<!-- Start Align Area -->
		<div class="whole-wrap pb-100">
			<div class="container">
				<div class="section-top-border">
					<h3>Image Gallery</h3>
					<div class="row gallery-item">

						{% for image in view.get_image %}
							<div class="col-md-4">
								<a href="{{ image.image.url }}" class="img-pop-up">
									<div class="single-gallery-image" style="background: url({{ image.image.url }});"></div>
								</a>
							</div>
						{% endfor %}
					</div>
				</div>
				<div style="margin-top: 250px;" class="section-top-border">
				</div>
			</div>
		</div>
	{% endblock content %}