{% extends "base.html" %}

{% block content %}
    <!-- Start Banner Area -->
        {% include "blog/include/top_nav_detail.html" %}
    <!-- End Banner Area -->

    <!--================Blog Area =================-->
    <section class="blog_area single-post-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post row">
                        <div class="col-lg-12">
                            <div class="feature-img">
                                <img class="img-fluid" src="{{ post.image.url }}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-3  col-md-3">
                            <div class="blog_info text-right">
                                <div class="post_tag">
                                    {% for tag in post.tag.all %}
                                        <a href="{% url 'get_tag' tag.slug %}">{{ tag.name }},</a>
                                    {% endfor %}
                                </div>
                                <ul class="blog_meta list">
                                    <li><a href="#">{{ post.author }}<i class="lnr lnr-user"></i></a></li>
                                    <li><a href="#">{{ post.create_at|date:'d M, Y' }}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">{{ post.total_views }}<i class="lnr lnr-eye"></i></a></li>
                                    <li><a href="#">06 Comments<i class="lnr lnr-bubble"></i></a></li>
                                </ul>
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 blog_details">
                            {{ post.description|safe|slice:'0:1040'}}
                        </div>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 mt-25">
                                    {{ post.description|safe|slice:'1040:'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="navigation-area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                <div class="thumb">
                                    <a href="#"><img class="img-fluid" src="img/blog/prev.jpg" alt=""></a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                </div>
                                <div class="detials">
                                    <p>Prev Post</p>
                                    <a href="#">
                                        <h4>{{ post.title }}</h4>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                <div class="detials">
                                    <p>Next Post</p>
                                    <a href="#">
                                        <h4>{{ post.title }}</h4>
                                    </a>
                                </div>
                                <div class="arrow">
                                    <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                </div>
                                <div class="thumb">
                                    <a href="#"><img class="img-fluid" src="img/blog/next.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comments-area">
                        <h4>05 Comments</h4>
                        {% for comment in post.comment.all %}
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="img/blog/c1.jpg" alt="">
                                        </div>
                                        <div class="desc">
                                            <h5><a href="#">{{ comment.name }}</a></h5>
                                            <p class="date">{{ comment.publish|date:'d M, Y' }}</p>
                                            <p class="comment">
                                                {{ comment.message }}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="reply-btn">
                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% comment %} <div class="comment-list left-padding">
                            <div class="single-comment justify-content-between d-flex">
                                <div class="user justify-content-between d-flex">
                                    <div class="thumb">
                                        <img src="img/blog/c2.jpg" alt="">
                                    </div>
                                    <div class="desc">
                                        <h5><a href="#">Elsie Cunningham</a></h5>
                                        <p class="date">December 4, 2018 at 3:12 pm </p>
                                        <p class="comment">
                                            Never say goodbye till the end comes!
                                        </p>
                                    </div>
                                </div>
                                <div class="reply-btn">
                                    <a href="" class="btn-reply text-uppercase">reply</a>
                                </div>
                            </div>
                        </div> {% endcomment %}
                        
                    </div>
                    <div class="comment-form">
                        <h4>Leave a Reply</h4>
                        <form method="post" action="{% url 'add_comment' post.id%}">
                        {% csrf_token %}
                            <div class="form-group form-inline">
                            <div class="form-group col-lg-6 col-md-6 name">
                                {{ form.name }}
                            </div>
                            <div class="form-group col-lg-6 col-md-6 email">
                                {{ form.email }}
                            </div>
                            </div>
                            <div class="form-group">
                                {{ form.message }}
                            </div> 
                            {{ form.captcha }}
                            <button type="submit" value="submit" class="primary-btn submit_btn">Post Comment</button>
                        </form>
                    </div>
                </div>
                {% include "blog/include/sidebar.html" %}
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
{% endblock content %}