{% extends "base.html" %}


{% block content %}
	<!-- Start Banner Area -->
		{% include "contact/include/top_nav.html" %}
	<!-- End Banner Area -->

	<!--================Contact Area =================-->
		<section class="contact_area section_gap_bottom">
			<div class="container">
				<div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13" data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia."
				data-mlat="40.701083" data-mlon="-74.1522848">
				</div>
				<div class="row">
					<div class="col-lg-3">
						<div class="contact_info">
							{% for contact in contact_list %}
								<div style="padding-bottom: 25px;" class="info_item">
									<i class="lnr lnr-home"></i>
									<h6>{{ contact.address }}</h6>
								</div>
								<div style="padding-bottom: 25px;" class="info_item">
									<i class="lnr lnr-phone-handset"></i>
									<h6><a href="#">{{ contact.phone }}</a></h6>
								</div>
								<div style="padding-bottom: 25px;" class="info_item">
									<i class="lnr lnr-envelope"></i>
									<h6><a href="#">{{ contact.email }}</a></h6>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
	<!--================Contact Area =================-->
{% endblock content %}